ol{
    color: #84aaac;
}

p{
    background-color: #d494b7;
    font-size: 1.5em;
    text-decoration: underline;
    font-style: italic;
    /*aaaaaaaaa*/
}
a{
    color: #000000;
    font-family: cursive;
}
/*i eat the wee is rocks duh of good yum when the is so but other there is why who when I didnt?*/